.wbdv-font-size-25 {
    font-size: 25px;
}


/*style={{"color": "red", "position": "absolute", "top": "2px", "right": "10px", "cursor": "pointer"}*/

.plus-icon1 {
    color: red;
    position: absolute;
    top: 2px;
    right: 10px;
    cursor: pointer;
}

/*style={{"color": "red", "position": "fixed", "bottom": "10px", "right": "10px", "cursor": "pointer"}}*/

.plus-icon2 {
    color: red;
    position: fixed;
    bottom:10px;
    right: 10px;
    cursor: pointer;
}


